[viewBag]
==
<div class="darkcommontheme darkgradtheme">
      <!-- Contact Form -->
      <div class="s-contact-form section">
        
        <!-- Sky -->
        <div class="s-contact-form__stars starry-sky-canvas">
          <div class="starry-sky js-starry-sky" data-stars-amount="50"></div>
        </div>
        <!-- /Sky -->
        {% if this.page.baseFileName != 'reviews' %}
            {% partial 'forms/sendback' %}
        {% else %}
            {% partial 'forms/send_review' %}
        {% endif %}
      </div>
      <!-- /Contact Form -->
      
      <footer class="main-footer">
        <div class="main-footer__container container">
          
          <div class="main-footer__toprow row">
            
            <!-- Footer Menu -->
            {% partial "menu/bottommenu" %}
            <!-- /Footer Menu -->
            
            <!-- Footer Contacts -->
            <div class="main-footer__contacts-wrap col-md-4 col-lg-3">
              <div class="main-footer__contacts">
                <div class="main-footer__social social">
                  <a href="https://vk.com/public9671914" class="social__item" target="_blank">
                    <img src="/themes/motel/assets/img/vk.svg" alt="" class="social__icon js-svg">
                  </a>
                  <!--<a href="https://www.instagram.com/motelspb/" class="social__item" target="_blank">
                    <img src="/themes/motel/assets/img/inst.svg" alt="" class="social__icon js-svg">
                  </a>-->
                </div>
                <a href="mailto:4687777@alex-group.net" class="main-footer__link">4687777@alex-group.net</a>
                <br>
                <a href="tel:+78124687777" onclick="yaCounter23472043.reachGoal('clickPhoneLink'); ga('send', 'pageview','/clickPhoneLink'); fbq('track', 'clickPhoneLink'); return true;" class="main-footer__link">+7 (812) 468-77-77</a>
              </div>  
            </div>
            <!-- /Footer Contacts -->
          
          </div>
        </div>
        <div class="main-footer__bottom">
          <div class="main-footer__container container">
            <div class="main-footer__botrow">
              <a href="/storage/app/media/pravilaprojivaniya/pravilaprojivaniya.pdf" class="main-footer__rules-link" target="_blank">Правила проживания в наших отелях</a>
              <div class="main-footer__agency">
                <a href="http://serenity.agency" class="serenity-agency" target="_blank">
                  <img class="serenity-agency__logo js-svg" src="/themes/motel/assets/img/serenity-logo.svg" alt="Serenity">
                  <span class="serenity-agency__txt">Разработано в Serenity</span>                
                </a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

	
<script>
function jivo_onMessageSent() {
	fbq('track', 'jivo_onMessageSent');
};
</script>



	
	
<div class="fixed-banner">	
	<a href="/goapp.php" class="fixed-banner_banner">
			<img src="/themes/motel/assets/img/banner_intext1.png" style="width: 300px;">
			<img src="/themes/motel/assets/img/qr-goapp.gif" style="width: 270px; box-shadow: 0 0 10px #000; margin: 8px -5px 0 0 ;">
	</a>
	<a class="fixed-banner_close" onclick="closeBanner();"></a>
</div>	

<a class="fixed-banner_closed" href="#" onclick="showBanner();"><img src="/themes/motel/assets/img/flame.svg"  class="special-offer__icon js-svg" alt=""></a>

<style>
.fixed-banner {
	display: none;
	position: fixed;
	box-sizing: content-box;
	top:50%;
	right:0;
	margin-top: -150px;
	z-index: 99999;
	}
	
.fixed-banner_closed {
	display: none;
	position: fixed;
	padding: 10px 9px 10px 10px;
	width: 17px;
	height: 30px;
	background: #fbb03b;
	box-sizing: content-box;
	top:50%;
	right:0;
	margin-top: -150px;
	z-index: 99999;
	border-radius: 10px 0 0 10px ;
	}
	

@media (min-width: 800px) {
	.fixed-banner.show-banner {display: block;}
	.fixed-banner_closed.show-banner {display: block;}
	}
	
	.fixed-banner_banner {display:block; width: 300px; box-sizing: content-box; margin: 0 auto;  text-align: center; background: #fbb03b; padding: 15px 5px 25px; }
	.fixed-banner_banner img {width: 300px; }

	.fixed-banner_close {position: absolute; right: 5px; top: 0;  width: 31px; height: 31px; cursor: pointer; background: #212121; }
	.fixed-banner_close:hover:before, .fixed-banner_close:hover:after {background-color: #111;}
	.fixed-banner_close:before, .fixed-banner_close:after {position: absolute;left: 20px; top: 7px; content: ' ';height: 25px;width: 2px; background-color: #333;}
	.fixed-banner_close:before {transform: rotate(45deg);}
	.fixed-banner_close:after {transform: rotate(-45deg);}

{% if this.page.id == 'prilozhenie'%}
	.fixed-banner, .fixed-banner_closed {display: none !important;}
{%endif%}
					   
</style>



