description = "Слайдер отзывов"

[viewBag]
==
<?php
use Serenity\Motel\Models\Review;
function onStart()
{
    //$this['reviews'] = Review::all();
	$this['reviews'] = Review::orderBy('id','desc')->get();
	
}
?>
==
<div class="darkcommontheme darktheme">
      <div class="s-reviews section">
        <div class="s-reviews__container container">
          <div class="s-reviews__title h2">О нас говорят</div>
          <div class="s-reviews__carousel-wrap">
            <div class="reviews-carousel owl-carousel js-reviews-carousel">
            {% for review in reviews %}
                <div class="reviews-carousel__item">
                    <blockquote class="reviews-carousel__content">
                        <img src="/themes/motel/assets/img/quote.svg" alt="" class="reviews-carousel__quotes">
                        <div>{{ review.text | raw }}</div>
                    </blockquote>
                </div>
            {% endfor %}
            </div>
          </div>
          
          <div class="button-wrap">
            <a href="/reviews/" class="s-reviews__btn button button_ghost button_medium">Смотреть все отзывы</a>
          </div>
        </div>
      </div>
    </div>