description = "Шаблон 404 ошибки"
==
<?php
function onSubmitContactForm(){
    
    
    $vars = [
        'name' => Input::get('name'),
        'phone' => Input::get('phone'),
        'email' => Input::get('email'),
        'question' => Input::get('question'),
        ];
    Mail::send('serenity.motel.contactform', $vars, function($message){
        $message->to('4687777@alex-group.net', 'Администратор');
        $message->subject('Новая заявка на бронирование номера');
    });
    
   Flash::success('Вопрос отправлен');
    
    return [
        'ok' => 1,
    ];
    
}
?>
==
<!DOCTYPE html>
<html lang="ru">

<head>

  {% partial "basic/head" %}
  
</head>

<body class="js-body">
  
  <div class="darkcommontheme headertheme">
    <div class="header-group">
    
        <!-- Header -->
        {% partial "basic/header" %}    
        
    </div>
  </div>
  
  
  
  
  
  <!-- Main content -->
  <main class="main">
    <div class="darkcommontheme darkblurtheme">
      <div class="s-error section">
        
        <!-- Sky -->
        <div class="s-error__stars starry-sky-canvas">
          <div class="starry-sky js-starry-sky" data-stars-amount="15"></div>
        </div>
        <!-- /Sky -->
        <div class="s-error__container container">
          <!-- Moon -->
          <div class="s-error__moon">
            <div class="moon js-moon">
              <div class="moon__inner moon__inner_bottom-right">
                <img src="/themes/motel/assets/img/moon.svg" alt="" class="moon__image">
              </div>
            </div>
          </div>
          <!-- /Moon -->
          
          <div class="s-error__box">
            <div class="s-error__illustration">
              <!-- Retina img -->
              <img src="/themes/motel/assets/img/error-illustration.png" srcset="/themes/motel/assets/img/error-illustration@2x.png 2x, /themes/motel/assets/img/error-illustration@1.5x.png 1.5x" alt="error image" class="s-error__illustration-img">
            </div>
            <div class="s-error__descr">
              <div class="s-error__number">404</div>
              <div class="s-error__text">отказ оборудования</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
  <!-- /Main content -->
  
  
  <!-- Footer -->
  {% partial "basic/footer" %}
  <!-- /Footer -->
  
  {% partial "basic/scripts" %}
  
</body>
</html>