description = "Шаблон страницы о компании"

[staticPage]
useContent = 0
default = 0
==
<?php
use Serenity\Motel\Models\Hotel;
use Serenity\Motel\Models\Name;
use Serenity\Motel\Models\Service;
use Serenity\Motel\Models\Offer;
function onStart()
{
    $this['hotels'] = Hotel::all();
    $this['services'] = Service::all();
    $this['offers'] = Offer::all();
}

function onChangeHotel(){
    $hotel_id = Input::get('hotel_id');
    //$hotel_type = Input::get('hotel_type');
    
    $hotel = Hotel::find($hotel_id);
    if($hotel){
        return [
            //'.find-room__field select' => $this->renderPartial('blocks/bookingTimeSelect.htm', ['hotel' => $hotel, 'type' => $hotel_type]),
            '[name="roomtype-select"]' => $this->renderPartial('blocks/roomtypeselect.htm', ['hotel' => $hotel]),
        ];
    }
}

function onSubmitBooking(){
    
    $vars = [
		'type' => 1, /*запись в crm*/
		'connect-type' => Input::get('connect-type'), 
        'booking_hotel_select' => Input::get('booking-hotel-select'), 
        'booking_roomtype_select' => Input::get('booking-roomtype-select'), 
        'arrival_date' => Input::get('arrival_date'),
        'booking_time_select' => Input::get('booking-time-select'),
        'booking_rp_select' => Input::get('booking-rp-select'),
        'fname' => Input::get('fname'),
        'phone' => Input::get('phone'),
		'booking_hours' => Input::get('booking-hours'),
		'booking_minutes' => Input::get('booking-minutes'),
		'booking_smocking' => Input::get('booking-smocking'),
		'email' => Input::get('email')
		
        ];
	
	
    Mail::send('serenity.motel.booking', $vars, function($message){
        $message->to('4687777@alex-group.net', 'Администратор');
        $message->subject('Новая заявка на бронирование номера');

    });
    
    $name = Name::where('name', Input::get('fname'));
	
	
	/*отправка в crm*/
	
	$url = 'http://suz.motelspb.com/_321/backend/save.php';
	$params = $vars;
	$result = file_get_contents($url, false, stream_context_create(array(
    'http' => array(
        'method'  => 'POST',
        'header'  => 'Content-type: application/x-www-form-urlencoded',
        'content' => http_build_query($params)
		)
	)));
	
    
	/*логирование данных*/
	$file_log = $_SERVER["DOCUMENT_ROOT"] . "/1/log.log";
	date_default_timezone_set('Europe/Moscow');
    $fw = fopen($file_log, "a");
	fwrite($fw, date("H:i:s  d.m.y")." from site VARS " . var_export($vars, true));	
    fclose($fw);
	/**/

    return [
        '@.modals' => $this->renderPartial('blocks/successPopup.htm', ['name' => $name]),
    ];
    
}

function onSubmitContactForm(){
    
    
    $vars = [
        'name' => Input::get('name'),
        'phone' => Input::get('phone'),
        'email' => Input::get('email'),
        'question' => Input::get('question'),
        ];
    Mail::send('serenity.motel.contactform', $vars, function($message){
        $message->to('4687777@alex-group.net', 'Администратор');
        $message->subject('Новая заявка на бронирование номера');
    });
    
   Flash::success('Вопрос отправлен');
    
    return [
        'ok' => 1,
    ];
    
}
?>
==
{variable name="block1_text_1" label="Заголовок" tab="Блок 1" type="textarea"}{/variable}
{variable name="block1_text_2" label="Текст" tab="Блок 1" type="textarea"}{/variable}

{repeater name="offer_items" prompt="Добавить" tab="Блок 2"}
  {variable name="offer_items_img" label="Фото" type="mediafinder" mode="image"}{/variable}
  {variable name="offer_item_name" label="Название" type="text"}{/variable}
{/repeater}

{variable name="block3_text_1" label="Текст" tab="Блок 3" type="textarea"}{/variable}
{repeater name="block3_slides" prompt="Добавить" tab="Блок 3"}
  {variable name="img" label="Фото" type="mediafinder" mode="image"}{/variable}
  {variable name="name" label="Название" type="text"}{/variable}
{/repeater}
{variable name="block3_text_2" label="Текст" tab="Блок 3" type="textarea"}{/variable}

{variable name="block4_text_1" label="Заголовок" tab="Блок 4" type="textarea"}{/variable}
{repeater name="workers" prompt="Добавить" tab="Блок 4"}
  {variable name="worker_img" label="Фото" type="mediafinder" mode="image"}{/variable}
  {variable name="worker_name" label="Имя" type="text"}{/variable}
  {variable name="worker_position" label="Должность" type="text"}{/variable}
{/repeater}
{variable name="block4_text_2" label="Текст" tab="Блок 4" type="textarea"}{/variable}

{variable name="block5_text_1" label="Заголовок" tab="Блок 5" type="textarea"}{/variable}
{repeater name="certificates" prompt="Добавить" tab="Блок 5"}
  {variable name="img" label="Фото" type="mediafinder" mode="image"}{/variable}
  {variable name="name" label="Название" type="text"}{/variable}
  {variable name="desc" label="Описание" type="text"}{/variable}
{/repeater}

{variable name="block6_text_1" label="Заголовок" tab="Блок 6" type="textarea"}{/variable}
{variable name="block6_text_2" label="Текст" tab="Блок 6" type="textarea"}{/variable}

{variable name="block7_text_1" label="Заголовок" tab="Блок 7" type="textarea"}{/variable}
{variable name="block7_text_2" label="Текст" tab="Блок 7" type="textarea"}{/variable}
{repeater name="suggestions" prompt="Добавить" tab="Блок 7"}
  {variable name="img" label="Фото" type="mediafinder" mode="image"}{/variable}
  {variable name="name" label="Название" type="text"}{/variable}
  {variable name="link" label="Ссылка" type="text"}{/variable}
{/repeater}
<!DOCTYPE html>
<html lang="ru">

<head>
<meta charset="utf-8">
  <!-- <base href="/"> -->
  
  <title>Сеть романтических отелей №1 джакузи в Санкт-Петербурге </title>
  <meta name="description" content="МотельСПБ Сеть романтических отелей на час №1 с джакузи в Санкт-Петербурге и Москве. Лушие почасовые отели в Москве и Санкт-Петербурге с посуточной арендой без паспорта ">
  <meta name="keywords" content="МотельСПБ">    
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- Basic Images Start -->
  <meta property="og:image" content="path/to/image.jpg">
  <link rel="icon" href="{{ 'assets/img/favicon/favicon.ico'|theme }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/img/favicon/apple-touch-icon-180x180.png'|theme }}">
  <link rel="mask-icon" href="{{ 'assets/img/favicon/safari-pinned-tab.svg'|theme }}" color="#5bbad5">
  <!-- Basic Images End -->
  
  <!-- Custom Browsers Color Start -->
  <meta name="theme-color" content="#1D1D1D">
  <!-- Custom Browsers Color End -->
  
 <link rel="stylesheet" href="{{ 'assets/css/main.min.css'|theme }}" />
 
{% partial "basic/head-scripts" %} 
  
</head>
 
<body class="js-body">
  <!-- Main content -->
  <main class="main">


  <div class="darkcommontheme darkblurtheme">
    <div class="header-group">
      <!-- Header -->
      {% partial "basic/header" %}
      <!-- /Header --> 
        
      <!-- Booking -->
      {% partial "blocks/booking" %}  
      <!-- /Booking -->
    </div>
  
    <!-- Map Section -->
        <div class="s-map section">
          
          <div class="s-map__stars starry-sky-canvas">
            <div class="starry-sky js-starry-sky" data-stars-amount="50"></div>
          </div>
          
          <div class="s-map__inner js-map__inner">
            <div class="s-map__container container">
              <h2 class="s-map__title h3">Сеть романтических отелей №1</h2>
              
              <div class="map-box">                
                <div class="map-box__hint js-map-hint">Кликните на кристалл</div>
                
                <div class="map js-map">
                  <img src="/themes/motel/assets/img/map-spb.png" srcset="/themes/motel/assets/img/map-spb@2x.png 2x" alt="" class="map__img">
                  
                  <div class="map__markers js-map__markers">
                    <!-- Just for fix first crystall animation speed bug in Edge -->
                    <div class="marker js-map-marker map__marker visually-hidden" data-hotel="fake-for-edge">
                      <img src="/themes/motel/assets/img/map-crystall.svg" alt="" class="marker__img map__marker-img js-svg">
                      <div class="marker__canvas-wrap">
                        <canvas class="marker__canvas js-marker-canvas"></canvas>
                      </div>
                    </div>
                    <!-- Just for fix first crystall animation speed bug in Edge -->

                    {% for hotel in hotels %}
                    <div class="marker js-map-marker map__marker" data-hotel="{{ hotel.slug }}">
                      <img src="/themes/motel/assets/img/map-crystall.svg" alt="" class="marker__img map__marker-img js-svg">
                      <div class="marker__canvas-wrap">
                        <canvas class="marker__canvas js-marker-canvas"></canvas>
                      </div>
                    </div>
                    {% endfor %}
                    
					<!--
                    <div class="marker js-map-marker map__marker map__marker_pending" data-hotel="fontanka">
                      <img src="/themes/motel/assets/img/map-crystall.svg" alt="" class="marker__img map__marker-img js-svg">
                      <div class="marker__canvas-wrap">
                        <canvas class="marker__canvas js-marker-pending-canvas"></canvas>
                      </div>
                    </div>
					 -->
					
                    <div class="marker js-map-marker map__marker" data-hotel="frunzenskaya">
                      <img src="/themes/motel/assets/img/map-crystall.svg" alt="" class="marker__img map__marker-img js-svg">
                      <div class="marker__canvas-wrap">
                        <canvas class="marker__canvas js-marker-pending-canvas"></canvas>
                      </div>
                    </div>					
                    
                  </div>
                  
                </div>
                
              </div>
              
            </div>
            
            <svg class="s-map__inner-svg js-map-inner-svg hidden">
              <defs>
                <linearGradient id="paint0_linear_line">
                  <stop offset="0" stop-color="#FFD64C"/>
                  <stop offset="1" stop-color="white"/>
                </linearGradient>
              </defs>
              <line class="s-map__inner-line js-map-line" stroke="url(#paint0_linear_line)"></line>
            </svg>
          </div>
          
          <div class="s-map__cards-box js-s-map-cards-box">
            <div class="s-map__cards-container container">
            
            {% for hotel in hotels %}
            
            {% partial "blocks/hotelCardOnMapMain" hotel=hotel %}
              
            {% endfor %}
            
            
			<!--
            <div class="map-card js-map-card s-map__card js-s-map-card" data-hotel="fontanka">
              <div class="map-card__box">
                <button class="map-card__close js-map-card__close">
                  <img src="/themes/motel/assets/img/close.svg" alt="" class="map-card__close-icon js-svg">
                </button>
                <div class="map-card__title">Отель на Фонтанке</div>
                <div class="map-card__metro">
                  <span class="map-card__metro-name">Гостиный двор</span>
                  <img src="/themes/motel/assets/img/metro.svg" alt="metro sign" class="map-card__metro-icon metro-icon metro-icon_green js-svg">
                </div>
                <div class="map-card__address">открытие осенью 2019</div>
                <a href="tel:+78124687777" onclick="yaCounter23472043.reachGoal('clickPhoneLink'); fbq('track', 'clickPhoneLink'); return true;" class="map-card__phone">+7 (812) 468-77-77</a>
              </div>
            </div>
			-->
			
            
            </div> 
          </div>
          
          
          <!-- Flame offer block -->
          <div class="s-map__offer">
          {% partial "blocks/special_offer" %}
          </div>
          <!-- /Flame offer block -->
          
          
        </div>
        <!-- /Map Section -->
  
    


        <div class="s-about-main section">         
          
          
          <!-- Flame offer block (desktop) -->
          <div class="s-about-main__offer">
          {% partial "blocks/special_offer" %}
          </div>
          <!-- /Flame offer block (desktop) -->
          <!-- Sky -->
          <div class="s-about-main__stars starry-sky-canvas">
            <div class="starry-sky js-starry-sky" data-stars-amount="50"></div>
          </div>
          <!-- /Sky -->
          <div class="s-about-main__container container">
            <div class="s-about-main__box">
              <div class="s-about-main__descr">
                <h1 class="s-about-main__title h3">{{ block1_text_1 }}</h1>
                <div class="s-about-main__text plaintext">
                  {{ block1_text_2 }}
                </div>
              </div>
              <div class="s-about-main__pic">
                <img src="/themes/motel/assets/img/about-pic.png" srcset="/themes/motel/assets/img/about-pic@2x.png 2x" alt="" class="s-about-main__pic-inner">
              </div>
            </div>
          </div>
        </div>
      </div>
    

    <div class="darkcommontheme darktheme">
      <div class="s-standards section">
        <div class="s-standards__container container">
          <div class="s-standards__title h2">Наши стандарты размещения</div>          
        </div>
        <!-- Rooms Carousel -->
        <div class="s-standards__carousel">
          <div class="rooms-carousel">
            <div class="rooms-carousel__container container">
              <div class="rooms-carousel__inner js-rooms-carousel owl-carousel">
                {% for offer_item in offer_items %}
                  <div class="rooms-carousel__item">
                    <div class="rooms-carousel__photo">
                      <img src="{{ offer_item.offer_items_img | media | resize(500)}}" alt="{{ offer_item.offer_item_name }}" class="rooms-carousel__img">
                    </div>
                    <div class="rooms-carousel__title">{{ offer_item.offer_item_name }}</div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>        
        <!-- /Rooms Carousel -->

      </div>
    </div>
    
    <div class="darkcommontheme darkblurtheme">
      
        <div class="s-about-descr section">
          <!-- Sky -->
          <div class="s-about-descr__stars starry-sky-canvas">
            <div class="starry-sky js-starry-sky" data-stars-amount="30"></div>
          </div>
          <!-- /Sky -->

          <div class="s-about-descr__container container">
            <div class="s-about-descr__text plaintext">
              {{ block3_text_1 | raw }}
            </div>
          </div>
          
            <!-- Rooms Carousel -->
            <div class="s-about-descr__carousel">
              <div class="rooms-carousel">
                <div class="rooms-carousel__container container">
                  <div class="rooms-carousel__inner js-rooms-carousel owl-carousel">
                    {% for item in block3_slides %}
                      <div class="rooms-carousel__item">
                        <div class="rooms-carousel__photo">
                          <img src="{{ item.img | media | resize(500)}}" alt="" class="rooms-carousel__img">
                        </div>
                        <div class="rooms-carousel__title">{{ item.name }}</div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>        
            <!-- /Rooms Carousel -->
          
          <div class="s-about-descr__container container">
            <div class="s-about-descr__text plaintext">
              {{ block3_text_2 | raw }}
            </div>
          </div>
        </div>


      <div class="s-workers section">
        <div class="s-workers__container container">
          <div class="s-workers__title h2">{{ block4_text_1 | raw }}</div>
        </div>
        <!-- Workers 
        <div class="s-workers__box">
          <div class="s-workers__box-container container">
            <div class="workers js-workers">
              {% for worker in workers %}
                <div class="workers__item">
                  <div class="workers__photo">
                    <img src="{{ worker.worker_img|media | resize(500) }}" alt="{{ worker.worker_name }}" class="workers__photo-inner">
                  </div>
                  <div class="workers__name h4">{{ worker.worker_name }}</div>
                  <div class="workers__position">{{ worker.worker_position }}</div>
                </div>
              {% endfor %}
            </div>
          </div>         
        </div> 
        <!-- /Workers -->
        <div class="s-workers__container container">
          <div class="s-workers__text plaintext">
            {{ block4_text_2 | raw }}
          </div>
        </div>
      </div>


      
        <div class="s-rewards section">
          <!-- Sky -->
          <div class="s-rewards__stars starry-sky-canvas">
            <div class="starry-sky js-starry-sky" data-stars-amount="50"></div>
          </div>
          <!-- /Sky -->
          
          <div class="s-rewards__container container">
            <div class="s-rewards__title h1">{{ block5_text_1 | raw }}</div>
          </div>
          
          
          <!-- Rewards -->
          <div class="s-rewards__carousel">
            <div class="s-rewards__carousel-container container">
              <div class="rewards-carousel js-rewards-carousel owl-carousel">
                {% for certificate in certificates %}
                  <div class="rewards-carousel__item">
                    <div class="reward">
                      <a href="{{ certificate.img|media }}" class="reward__fill-link fill-link"></a>
                      <div class="reward__content">
                        <div class="reward__title h4">{{ certificate.name }}</div>
                        <div class="reward__subtitle">{{ certificate.desc }}</div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>            
          <!-- /Rewards -->
        </div>
    </div>

    <div class="darkcommontheme darktheme">
      <div class="section s-add-services">
        
        <div class="container container_narrow">
          <div class="s-add-services__title h2">
            {{ block6_text_1 | raw }}
          </div>
          <div class="s-add-services__text plaintext">
            {{ block6_text_2 | raw }}
          </div>
          
          {% partial "blocks/additional_services_table" services=services offers=offers %}

        </div>
        
      </div>
    </div>

	
	{# 
    <div class="darkcommontheme darkgradtheme">
        <div class="s-proposals section">
          <!-- Sky -->
          <div class="s-proposals__stars starry-sky-canvas">
            <div class="starry-sky js-starry-sky" data-stars-amount="50"></div>
          </div>
          <!-- /Sky -->
          <div class="s-proposals__container container">
            <div class="s-proposals__title h2">{{ block7_text_1 | raw }}</div>
            <div class="s-proposals__subtitle plaintext">
              {{ block7_text_2 | raw }}
            </div>
          </div>
          <div class="s-program">
            <div class="s-program__container container">
              <div class="s-program__box">
                {% for suggestion in suggestions %}
                  <div class="program-item">
                    <img src="{{ suggestion.img|media }}" alt="" class="program-item__img">
                    <div class="program-item__darken"></div>
                    <div class="program-item__content">
                      <div class="program-item__title h4">
                        {{ suggestion.name | raw }}
                      </div>
                      <div class="program-item__details">
                        <span class="program-item__details-text">Подробнее</span>
                        <img src="/themes/motel/assets/img/arrow-right.svg" class="program-item__details-arrow js-svg" alt="">
                      </div>
                    </div>
                    <a href="{{ suggestion.link }}" class="program-item__fill-link fill-link"></a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>   
    </div>
    #}
	
  </main>
  <!-- /Main content -->
  
  
  <!-- Footer -->
  {% partial "basic/footer" %}
  <!-- /Footer -->
  
  <!-- Modals -->
  <div class="modals hidden">    
    
    {% partial "blocks/booking-popup" %}  
	
  </div>
  <!-- /Modals -->  
  
  
  {% partial "basic/scripts" %}
  
  <script>
    $('[name="hotel-select"]').on('change', function(){
        $.request('onChangeHotel', {data: {hotel_id: $(this).find('option:selected').attr('hotelid')}})
    });
  </script>
  
</body>
</html>