description = "Шаблон статьи и новости"
==
<?php
function onSubmitContactForm(){
    
    
    $vars = [
        'name' => Input::get('name'),
        'phone' => Input::get('phone'),
        'email' => Input::get('email'),
        'question' => Input::get('question'),
        ];
    Mail::send('serenity.motel.contactform', $vars, function($message){
        $message->to('4687777@alex-group.net', 'Администратор');
        $message->subject('Новая заявка на бронирование номера');
    });
    
   Flash::success('Вопрос отправлен');
    
    return [
        'ok' => 1,
    ];
    
}
?>
==
<!DOCTYPE html>
<html lang="ru">

<head>
  
  {% partial "basic/head" %}
  
</head>

<body class="js-body">
  
  <div class="darkcommontheme headertheme">
    <div class="header-group">
    
        <!-- Header -->
        {% partial "basic/header" %}    
        
    </div>
  </div>
  
  
  
  
  
  <!-- Main content -->
  <main class="main">
    <div class="darkcommontheme darkblurtheme">
    <article class="section a-news">
      <!-- Flame offer block -->
      <div class="a-news__offer">
        {% partial "blocks/special_offer" %}
      </div>
      <!-- /Flame offer block -->
      <div class="a-news__container container">
          {% page %}
      </div>
    </article>
    </div>
    
  </main>
  <!-- /Main content -->
  
  
  <!-- Footer -->
  {% partial "basic/footer" %}
  <!-- /Footer -->
  
  
  
  
  
  {% partial "basic/scripts" %}
  
</body>
</html>