description = "Шаблон страницы списка скидок и акций"
==
<?php
use Serenity\Motel\Models\Stock;
function onStart()
{
    
    //$this['favoriteStocks'] = Stock::where(['active' => 1, 'favorite' => 1])->get();
    //$this['stocks'] = Stock::where(['active' => 1, 'favorite' => 0])->get();
    
}
function onSubmitContactForm(){
    
    
    $vars = [
        'name' => Input::get('name'),
        'phone' => Input::get('phone'),
        'email' => Input::get('email'),
        'question' => Input::get('question'),
        ];
    Mail::send('serenity.motel.contactform', $vars, function($message){
        $message->to('4687777@alex-group.net', 'Администратор');
        $message->subject('Новая заявка на бронирование номера');
    });
    
   Flash::success('Вопрос отправлен');
    
    return [
        'ok' => 1,
    ];
    
}
?>
==
<!DOCTYPE html>
<html lang="ru">

<head>
<meta charset="utf-8">
  <!-- <base href="/"> -->
  
  <title>Дисконтная система бронирования номеров в отеле на час СПБ</title>
  <meta name="description" content="Скидки в отелях с джакзи с почасовой оплатой Санкт-Петербург до 20% цена со скидкой 1450 за 3 часа бронирования номера с джакузи в любом районе города. VIP со скидкой карта в подарок за установку приложения">
  <meta name="keywords" content="скидки и акции в отелях">    
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- Basic Images Start -->
  <meta property="og:image" content="path/to/image.jpg">
  <link rel="icon" href="{{ 'assets/img/favicon/favicon.ico'|theme }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/img/favicon/apple-touch-icon-180x180.png'|theme }}">
  <link rel="mask-icon" href="{{ 'assets/img/favicon/safari-pinned-tab.svg'|theme }}" color="#5bbad5">
  <!-- Basic Images End -->
  
  <!-- Custom Browsers Color Start -->
  <meta name="theme-color" content="#1D1D1D">
  <!-- Custom Browsers Color End -->
  
 <link rel="stylesheet" href="{{ 'assets/css/main.min.css'|theme }}" />
 
{% partial "basic/head-scripts" %} 


</head>

<body class="js-body">
  
  <div class="darkcommontheme headertheme">
    <div class="header-group">
    
        <!-- Header -->
        {% partial "basic/header" %}    
        
    </div>
  </div>

  
  <!-- Main content -->
  <main class="main">
  <div class="darkcommontheme headertheme">
    <div class="disc-prom section">
        <!-- Sky -->
        <div class="disc-prom__stars starry-sky-canvas">
          <div class="starry-sky js-starry-sky" data-stars-amount="30"></div>
        </div>
        <!-- /Sky -->
      <div class="disc-prom__offer">
        {% partial "blocks/special_offer" %}
      </div>
      <h1 class="disc-prom__headline h1">{{ this.page.title }}</h1>
      
      {% page %}
      
    </div>
  </div>
  </main>
  <!-- /Main content -->
  
  
  <!-- Footer -->
  {% partial "basic/footer" %}
  <!-- /Footer -->
  
  
  
  
  
  {% partial "basic/scripts" %}
  
</body>
</html>